<!doctype html>
<html lang="en" style="height:100%;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body style="height:100%;">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <!-- Navbar content -->
        <li class="nav-item">
          <a class="nav-link active navbar-brand" aria-current="page" href="#">KheloKhiloSeekho</a>
        </li>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <li class="nav-item">
            <a class="nav-link" href="#home-page-2" style="color:white;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#home-page-3" style="color:white;">Why Toys?</a>
          </li>
          <li>
              <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn " href="/">
              Details Coming!</a>
              </div>
          </li>
      </div>     
    </nav>
   
    <div id = "home-page-1" class="container-fluid page-1" style="height:100%; background:#5AB9EA;">
      <br>
      <br>
      <br>     
      <h1>    Page under construction!</h1>
      <br>
      <br>
      <br>
      <br>
      <h5 style="text-align:center";> Khelo Khilo Seekho uses toys to improve education for children in Jodhpur.</h5>
      <h5 style="text-align:center";> Contact us at <b>vjse4681@gmail.com!<b></h5>
    </div>
    <div id = "home-page-2" class="container-fluid page-2" style="height:100%; background: #5680E9;">
    <!-- Content here -->
        <br>
        <br>
        <br>
         <h1>    Page under construction!</h1>
    </div>

    <div id = "home-page-3" class="container-fluid page-3" style="height:100%; background: teal;">
    <!-- Content here -->
        <br>
        <br>
        <br>
         <h1>    Page under construction!</h1>
    </div>
      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  
  </body>
</html>